.buket_ul {
  margin: 10px;
  list-style: none;
  & li {
    padding: 0;
    margin: 7px auto;
    text-align: left;
    & .active {
      color: red;
    }

    &:hover {
      //   background-color: #aaa;
      cursor: pointer;
    }
    & img {
      border-radius: 50%;
      margin: 5px;
      width: 30px;
      height: 30px;
      margin: 10px 0 0 20px;
      /*
      img tag 와 text 또는 inline tag 들이 서로 어울리는 배치를 하기 위한 설정
      */
      float: left;
    }
    & span {
      display: inline-block;
      line-height: 50px;
      padding-left: 20px;
    }
  }
  & a {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5),
      2px 3px 3px 3px rgba(0, 0, 0, 0.2);
    /*line-height : 표현되는 글자의 높이를 지정하는 속성*/
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    margin: 5px auto;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 45px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 21px 21px 42px #bcbcbc, -21px -21px 42px #fff;
    &:hover {
      background: linear-gradient(145deg, #cacaca, #f0f0f0);
      border: 1px solid #aaa;
    }
  }
}
