.main {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}
.main th {
  background-color: #c1ecf3;
  padding: 0.5rem;

  /* border: 1px solid #ddd; */
}
.main tbody tr:nth-of-type(2n) {
  background-color: #eee;
}
.main tbody tr:hover {
  background-color: #ddd;
}
.main tbody tr {
  font-size: 15px;
}
.main td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.main td img {
  /* margin-left: 20px; */
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.main td img:hover {
  cursor: pointer;
  transform: scale(2);
}

.main td a {
  text-decoration: none;
  color: red;
  /* background-color: #c1ecf3; */
}
.main td a:hover {
  cursor: pointer;
  background-color: #eee;
  font-size: 18px;
}
.main td#id {
  line-height: 180%;
}
