.btn {
  color: white;
  background-color: #7362ff;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 0.5rem 0.75rem;
  margin: 4px 0;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}
.btn:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}
